# Misc.
dist
build
.vscode
__pycache__
.DS_Store

# Coverage
.coverage*
htmlcov
coverage.xml

# No jupyter notebooks
*.ipynb

# Version fil
_version.py

# Testing
.ruff_cache
.pytest_cache
.mypy_cache
.hypothesis

/*.py
